{{define "bottom"}}
</main>
<footer>
  <ul>
    <li><a href="https://twitter.com/aldotestino4">Twitter</a></li>
    <li><a href="https://github.com/aldotestino">GitHub</a></li>
  </ul>
</footer>
</body>
</html>
{{end}}